<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.yourstory.com/cs/7/1da9ec3014cc11e9a1b2b928167b6c62/halloweencocktailsbanner-1604060231807.png);">
  <div class="container">
    <h1>Cocktails of The Beast !</h1>
    <p>Change your life and experience the taste of Evil.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
