<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
url(https://res.cloudinary.com/dsmxleyf5/image/upload/v1606033951/k4rk5hrtnwgzcoamzuw9.jpg)">;
  <div class="container">
    <h1>Cocktails of The Beast !</h1>
    <p>Change your life and experience the taste of Evil.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
